<ion-header>
  <ion-toolbar>
    <ion-title class="header">LISTA DE PRODUCTOS</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/producto-add">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="list-content">
  <div class="table-container">
    <table class="product-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Categoría</th>
          <th>Nombre</th>
          <th>Stock</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.barcode }}</td>
          <td>{{ product.category }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.stock }}</td>
          <td>
            <ion-button size="small" color="primary" (click)="editProduct(product)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button size="small" color="danger" (click)="deleteProduct(product.id)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
