/* users.page.scss */

ion-content {
    --background: var(--ion-color-light); /* Fondo claro */
  }
  
.back-button {
    position: fixed;
    bottom: 20px; /* Distancia desde la parte inferior */
    left: 20px;   /* Distancia desde la parte izquierda */
    z-index: 100; /* Asegúrate de que esté encima de otros elementos */
    --background: #cb2f5e; /* Color del botón */
    --color: white;
    border-radius: 50%; /* Botón redondo */
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .inventario-content {
    --background: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 0;
  }
  
  .header {
    background-color: #cb2f5e; /* Azul para la cabecera */
    width: 100%;
    padding: 20px 0;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center; /* Centrar el texto */
  }
  
  .button-grid {
    margin-top: 20px;
    width: 90%;
    max-width: 400px;
  }
  
  ion-button.menu-button {
    --background: #cb2f5e; /* Color azul de los botones */
  --background-hover: #bc65a9; /* Azul más oscuro al pasar el cursor */
  --background-activated: #500a25;
    color: white;
    height: 60px;
    font-size: 16px;
    margin-bottom: 15px;
    border-radius: 10px;
  }
  
  .users-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #bea3be; /* Fondo azul oscuro para la tabla */
  }
  
  .users-table th, .users-table td {
    border: 1px solid #eed4ee;
    padding: 8px;
    text-align: left;
  }
  
  .users-table th {
    background-color: #845d7f;
    color: white;
    font-weight: bold;
  }
  
  .users-table tr:nth-child(even) {
    background-color: #b671ad;
  }
  
  .users-table tr:hover {
    background-color: #75b1fa;
  }
  
  .actions {
    display: flex;
    gap: 5px; /* Espacio entre los botones */
  }

  .logout-button {
    color: white; // Cambia el color del texto del botón a blanco
    background: #cb2f5e; // Fondo transparente si deseas que sea solo el icono
    border-color: transparent; // Sin borde
  }
  
  .home-button {
    color: white; // Cambia el color del texto del botón a blanco
    background: #cb2f5e; // Fondo transparente si deseas que sea solo el icono
    border-color: transparent; // Sin borde
  }