<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="header">CATEGORIAS</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onLogout()" color="light" class="logout-button">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="inventario-content">
  <ion-grid class="button-grid">
    <ion-row>
      <ion-col>
        <ion-input [(ngModel)]="newCategoryName" placeholder="Nombre de la categoría"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="addCategory()" class="menu-button" expand="block" shape="round">Adicionar categoría</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <table class="categories-table">
          <thead>
            <tr>
              <th>Nombre de la Categoría</th>
              <th>Fecha de Creación</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of categories">
              <td>{{ category.name }}</td>
              <td>{{ category.createdAt?.toDate() | date: 'short' }}</td>
            </tr>
          </tbody>
        </table>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Botón de retroceso en la parte inferior izquierda -->
  <ion-button (click)="goBackToMenu()" class="back-button">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>
</ion-content>