<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="header">Reportes</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBackToHome()" color="light">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="reportes-content">
  <ion-grid class="button-grid">
    <ion-row>
      <ion-col>
        <ion-button expand="block" shape="round" (click)="generateProductReport()">Reporte de Productos</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" shape="round" (click)="generateCategoryReport()">Reporte de Categorías</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" shape="round" (click)="generateUserReport()">Reporte de Usuarios</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
