<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goToHome()" color="light">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="header">Stock</ion-title>
    <!-- Botón de salida en la parte superior derecha -->
    <ion-buttons slot="end">
      <ion-button (click)="logout()" color="light" class="logout-button"> 
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="stock-content">
  <ion-grid class="button-grid">
    <ion-row>
      <ion-col>
        <ion-button class="menu-button" expand="block" shape="round" (click)="stockEntry()" >Entrada Stock</ion-button>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-button  class="menu-button" expand="block" shape="round" (click)="stockExit()" >Salida Stock</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Botón de regresar a la página de inventarios en la parte inferior izquierda -->
  <ion-button (click)="goBackToInventario()" class="back-button">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>
</ion-content>
