ion-content {
    --background: var(--ion-color-light); /* Fondo claro */
  }

.back-button {
    position: fixed;
    bottom: 20px; /* Distancia desde la parte inferior */
    left: 20px;   /* Distancia desde la parte izquierda */
    z-index: 100; /* Asegúrate de que esté encima de otros elementos */
    background-color: var(--ion-color-primary); /* Color del botón */
    color: white;
    border-radius: 50%; /* Botón redondo */
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  .stock-content {
    --background: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 0;
  }

  .header {
    text-align: center;
    justify-content: center;
    background-color: #3971b5; /* Azul para la cabecera */
    width: 100%;
    padding: 20px 0;
    color: white;
    font-size: 18px;
    font-weight: bold;
  }

  .logout-button {
    color: white; // Cambia el color del texto del botón a blanco
    --background: transparent; // Fondo transparente si deseas que sea solo el icono
    --border-color: transparent; // Sin borde
  }

  ion-button.menu-button {
    --background: #3971b5; /* Color azul de los botones */
    --background-hover: #2c5d8e; /* Azul más oscuro al pasar el cursor */
    --background-activated: #1e4b76;
    color: white;
    height: 60px;
    font-size: 16px;
    margin-bottom: 15px;
    border-radius: 10px;
  }

  .button-grid {
    margin-top: 50px;
    width: 90%;
    max-width: 400px;
  }