<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="header">Menú Principal</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onLogout()" class="logout-button">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!--prueba comentario-->
<ion-content class="home-content">
  <ion-grid class="button-grid">
    
    <ion-row>
      <ion-col>
        <!-- Botón Inventario -->
        <ion-button expand="block" class="menu-button-inventarios" routerLink="/inventario">
          <ion-icon slot="start" name="cube"></ion-icon>
          Inventario
        </ion-button>
      </ion-col>
    
      <ion-col>
        <!-- Botón Categorías -->
        <ion-button expand="block" class="menu-button-categorias" routerLink="/categories">
          <ion-icon slot="start" name="list"></ion-icon>
          Categorías
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <!-- Botón Reportes -->
        <ion-button expand="block" class="menu-button-reportes" routerLink="/reports">
          <ion-icon slot="start" name="analytics"></ion-icon> 
          Reportes
        </ion-button>
      </ion-col>
      <ion-col>
            <!-- Botón Usuarios -->
        <ion-button expand="block" class="menu-button-usuarios" routerLink="/users">
          <ion-icon slot="start" name="people"></ion-icon> 
          Usuarios
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
