<ion-header>
  <ion-toolbar>
    <ion-title class="header">Menú Principal</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onLogout()" color="light" class="logout-button">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!--prueba comentario-->
<ion-content class="home-content">
  <ion-grid class="button-grid">
    
    <ion-row>
      <ion-col>
        <ion-button class="menu-button" expand="block" shape="round" routerLink="/inventario">Inventario</ion-button>
      </ion-col>
    
      <ion-col>
        <ion-button class="menu-button" expand="block" shape="round" routerLink="/categories">Categorías</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="menu-button" expand="block" shape="round" routerLink="/reports">Reportes</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="menu-button" expand="block" shape="round" routerLink="/users">Usuarios</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
