.home-content {
  --background: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 0;
}

.header {
  text-align: center;
  justify-content: center;
  text-align: center;
  background-color: #3971b5; /* Azul para la cabecera */
  width: 100%;
  padding: 20px 0;
  color: white;
  font-size: 18px;
  font-weight: bold;
  
}

.button-grid {
  margin-top: 50px;
  width: 90%;
  max-width: 400px;
}

ion-button.menu-button {
  --background: #3971b5; /* Color azul de los botones */
  --background-hover: #2c5d8e; /* Azul más oscuro al pasar el cursor */
  --background-activated: #1e4b76;
  color: white;
  height: 60px;
  font-size: 16px;
  margin-bottom: 15px;
  border-radius: 10px;
}

ion-button.menu-button-inventarios {
  --background: #0b7350; /* Color azul de los botones */
  --background-hover: #c3e5b3; /* Azul más oscuro al pasar el cursor */
  --background-activated: #063507;
  color: white;
  height: 60px;
  font-size: 16px;
  margin-bottom: 15px;
  border-radius: 10px;
}

ion-button.menu-button-categorias {
  --background: #255b9c; /* Color azul de los botones */
  --background-hover: #87a3bf; /* Azul más oscuro al pasar el cursor */
  --background-activated: #1e4b76;
  color: white;
  height: 60px;
  font-size: 16px;
  margin-bottom: 15px;
  border-radius: 10px;
}


ion-button.menu-button-reportes {
  --background: #a6a220; /* Color azul de los botones */
  --background-hover: #dde1b7; /* Azul más oscuro al pasar el cursor */
  --background-activated: #333106;
  color: white;
  height: 60px;
  font-size: 16px;
  margin-bottom: 15px;
  border-radius: 10px;
}

ion-button.menu-button-usuarios {
  --background: #cb2f5e; /* Color azul de los botones */
  --background-hover: #bc65a9; /* Azul más oscuro al pasar el cursor */
  --background-activated: #500a25;
  color: white;
  height: 60px;
  font-size: 16px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.logout-button {
  color: white; // Cambia el color del texto del botón a blanco
  --background: transparent; // Fondo transparente si deseas que sea solo el icono
  --border-color: transparent; // Sin borde
}