/* inventario.page.scss */

ion-content {
    --background: var(--ion-color-light); /* Fondo claro */
  }
  
  .back-button {
    position: fixed;
    bottom: 20px; /* Distancia desde la parte inferior */
    left: 20px;   /* Distancia desde la parte izquierda */
    z-index: 100; /* Asegúrate de que esté encima de otros elementos */
    --background: #0b7350; /* Fondo verde */
  --color: white;        /* Texto o ícono blanco */
    border-radius: 50%; /* Botón redondo */
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .inventario-content {
    --background: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 0;
  }

  .header {
    text-align: center;
    justify-content: center;
    background-color: #0b7350; /* Azul para la cabecera */
    width: 100%;
    padding: 20px 0;
    color: white;
    font-size: 18px;
    font-weight: bold;
  }

  ion-button.menu-button {
    --background: #0b7350; /* Color azul de los botones */
  --background-hover: #c3e5b3; /* Azul más oscuro al pasar el cursor */
  --background-activated: #063507;
    color: white;
    height: 60px;
    font-size: 16px;
    margin-bottom: 15px;
    border-radius: 10px;
  }

  .button-grid {
    margin-top: 50px;
    width: 90%;
    max-width: 400px;
  }
  
  .logout-button {
    background: #0b7350; /* Fondo verde */
    color: white;        /* Texto o ícono blanco */
    border-color: transparent; // Sin borde
  }

  .home-button {
    background: #0b7350; /* Fondo verde */
    color: white;        /* Texto o ícono blanco */
    border-color: transparent; // Sin borde
  }
  